In [114]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [120]:
train=pd.read_csv('/kaggle/input/titanc/train.csv',index_col=False)
test=pd.read_csv('/kaggle/input/titanc/test.csv',index_col=False)
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [121]:
print(train.columns)
train=train.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
test=test.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)
train.dropna(inplace=True)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [127]:
for col in train.columns:
    if train[col].dtype==object:
        train[col]=LabelEncoder().fit_transform(train[col])

In [124]:
for col in test.columns:
    if test[col].dtype==object:
        test[col]=LabelEncoder().fit_transform(test[col])

In [131]:
train.dropna(inplace=True)
test.fillna(test.mean(),inplace=True)

In [132]:
train.to_csv('train_processed.csv',index=False)
test.to_csv('test_processed.csv',index=False)